#password{
  .password{
    &--text{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 120px 0;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 27px;
        color: #FFFFFF;

      }

        &__block{
         margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          width: 400px;
          height: 306px;
          background: rgba(255, 255, 255, 0.3);
          border: 1px solid #FFFFFF;
          backdrop-filter: blur(2px);
          border-radius: 10px;

          h1{
            margin: 18px 0;
            font-family: 'Montserrat',sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
          }
          p{
            font-family: 'Montserrat',sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
          }
          button{
            width: 360px;
            height: 40px;
            background: #FFFFFF;
            border-radius: 10px;
            cursor: pointer;
            font-family: 'Montserrat',sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #6363DF;
          }
          input{
            outline: none;
            padding: 0 20px;
            margin: 15px 0;
            width: 360px;
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
          }
          h4{
            margin: 12px 0;
            font-family: 'Montserrat',sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            span{
              font-family: 'Montserrat',sans-serif;
              font-weight: 600;
              font-size: 16px;
              color: #FFFFFF;
            }
          }
      }
    }
  }
}