#password{
  .password{
    &--text{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding : 120px 0;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 27px;
        color: #FFFFFF;

      }

        &__block{
         margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          width: 400px;
          height: 306px;
          background: rgba(255, 255, 255, 0.3);
          border: 1px solid #FFFFFF;
          backdrop-filter: blur(2px);
          border-radius: 10px;

          h1{
            margin: 18px 0;
            font-family: 'Montserrat',sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
          }
          p{
            font-family: 'Montserrat',sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
          }
          button{
            width: 360px;
            height: 40px;
            background: #FFFFFF;
            border-radius: 10px;
            cursor: pointer;
            font-family: 'Montserrat',sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #6363DF;
            outline: none;
          }
          input{
            outline: none;
            padding: 0 20px;
            margin: 15px 0;
            width: 360px;
            color: rgba(255, 255, 255, 0.78);
            height: 40px;
            background: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
          }
          input::placeholder{
            color: rgba(255, 255, 255, 0.59);
          }
          h4{
            margin: 12px 0;
            font-family: 'Montserrat',sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            span{
              font-family: 'Montserrat',sans-serif;
              font-weight: 600;
              font-size: 16px;
              color: #FFFFFF;
            }
          }
      }
    }
  }
}

@media (max-width: 1140px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  #password{
    .password{
      &--text{


        h1 {


        }

        &__block{



          h1{

          }
          p{

          }
          button{

          }
          input{

          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #password{
    .password{
      &--text{


        h1 {


        }

        &__block{



          h1{

          }
          p{

          }
          button{

          }
          input{

          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  #password{
    .password{
      &--text{

        img{
        }
        h1 {


        }

        &__block{
          width: 370px;
          height: 295px;

          h1{
            margin: 12px 0;

          }
          p{
            font-size: 12px;
          }
          button{
            margin: 5px 0;
            width: 300px;

          }
          input{
            width: 300px;

          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #password{
    .password{
      &--text{
        img{
          width: 65px;

        }

        h1 {
          font-size: 20px;

        }

        &__block{
          width: 328px;
          height: 285px;


          h1{

          }
          p{
            font-size: 11px;
            width: 330px;

          }
          button{

          }
          input{

          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  #password{
    .password{
      &--text{


        h1 {


        }

        &__block{



          h1{

          }
          p{

          }
          button{

          }
          input{

          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  #password{
    .password{
      &--text{


        h1 {


        }

        &__block{

          height: 290px;


          h1{

          }
          p{
            width: 250px;

          }
          button{

          }
          input{
            margin: 12px 0;


          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #password{
    .password{
      &--text{
        img{
          width: 59px;
        }

        h1 {

          font-size: 17px;

        }

        &__block{

          width: 277px;


          h1{

          }
          p{

          }
          button{
            width: 242px;
            font-size: 13px;

          }
          input{
            width: 242px;

          }

          h4{

            span{

            }
          }
        }
      }
    }
  }
}