@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

#more {
  .more:hover {
    overflow: hidden;

    img {
      transform: scale(1.8) rotate(10deg);
      transition: 0.5s all;
      opacity: 1;
    }
  }

  .more {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(17px);
    border-radius: 10px;
    padding: 40px 25px 40px 0;
    overflow: hidden;


    &__image {
      position: relative;
      transition: 0.5s all;
      width: 250px;
      top: 60px;
      right: 50px;
    }

    &__image1 {
      position: relative;
      transition: 0.5s all;
      width: 70px;
      bottom: 80px;
    }

    &--text {
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
      }

      p {
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
      }
    }

    &__btn {
      line-height: 75px;

      &--add {
        padding: 7px 25px;
        background: #FFFFFF;
        border-radius: 10px;
        font-family: 'Dialog', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #595FEB;
      }

      &--remove {
        padding: 7px 15px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        font-family: 'Dialog', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }
}


@media (max-width: 1140px) {
  #more .more--text h1 {
    font-size: 30px;
  }
  #more .more--text p {
    font-size: 25px;
  }
  #more .more {
    padding: 30px 20px 30px 0;
  }
}
@media (max-width: 1024px) {
  #more .more {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  #more .more__image1 {
    display: none;
  }
  #more .more__image {
    display: none;
  }
  #more .more__btn {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  #more .more__btn {
    width: 70%;
  }
}
@media (max-width: 576px) {
  #more .more__btn {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #more .more__btn {
    width: 100%;
  }
}
@media (max-width: 415px) {
  #more .more__btn {
    flex-direction: column;
  }
  #more .more__btn--remove {
    margin-top: 20px;
  }
}

