.courseBlock {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 100px 0;

  &--block {
    width: 30%;

    img {
      padding-bottom: 10px;
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      color: #FFFFFF;
      padding: 10px 0;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 768px) {
  .courseBlock--block p {
    font-size: 18px;
  }
  .courseBlock--block h2 {
    font-size: 22px;
    padding: 13px 0;
  }
}

@media (max-width: 576px) {
  .courseBlock {
    flex-direction: column;
  }
  .courseBlock--block {
    width: 100%;
    margin: 20px 0;
  }
  .courseBlock--block h2 {
    padding: 9px 0;
  }
}

@media (max-width: 400px) {
  .courseBlock--block h2 {
    font-size: 22px;
    padding: 7px 0;
  }
}