.item {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 90px;
  width: 732px;
  overflow: hidden;

  &--div {
    width: 100%;
    height:1px; 
    margin: 10px 0;
    background: #FFFFFF;
  }

  &--icon {
    transition: 0.5s all;
    transform: rotate(-90deg);
    color: #FFFFFF;
    font-size: 44px;
    transition: 0.5s all;
  }

  &--title {
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    h4 {
      padding-bottom: 30px;
      text-align: left;
      font-weight: 400;
      font-size: 30px;
      line-height: 42px;
      color: #FFFFFF;
    }

    p {
      font-size: 20px;
      color: white;
    }

   
  }
}