#hero {
  padding-top: 200px;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      width: 560px;

      h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        padding: 20px 0;
      }

      button {
        width: 176px;
        height: 44px;
        background: #FFFFFF;
        border-radius: 10px;
        border: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595FEB;
      }
    }
  }

  .book1 {
    position: absolute;
    top: 107px;
    right: 102px;
  }

  .book2 {
    position: absolute;
    top: 200px;
    left: 300px;
  }

  .book4 {
    position: absolute;
    right: 40px;
    bottom: -100px;
  }
}


@media (max-width: 1440px) {
  #hero {
    .hero {
    }
  }
}

@media (max-width: 1200px) {
  #hero {
    .hero {
    }
  }
}

@media (max-width: 1024px) {
  #hero {
    .hero {
      &--title {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 20px;
        }
      }

      &--img {
        img {
          width: 380px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #hero {
    padding: 30px 0;

    .hero {
      padding-top: 90px;
    }

    .book4 {
      width: 190px;
    }

    .book3 {
      width: 80px;
    }

    .hero {
      &--title {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 20px;
        }
      }

      &--img {
        img {
          width: 380px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #hero {
    padding: 30px 0;

    .book4 {
      width: 160px;
    }

    .book3 {
      width: 65px;
    }

    .book1 {
      position: absolute;
      right: 40px;
      width: 50px;
    }

    .book2 {
      width: 90px;
    }

    .hero {
      &--title {
        h1 {
          font-size: 27px;
          line-height: 39px;
        }

        p {
          font-size: 16px;
          padding: 12px 0;
        }

        button {
          width: 160px;
          height: 38px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        img {
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 130px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 50px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      display: none;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 39px;
          line-height: 39px;
        }

        p {

          font-size: 20px;
          padding: 20px 0;
        }

        button {
          width: 170px;
          height: 44px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 30px;
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 130px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 50px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      width: 90px;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 36px;
          line-height: 39px;
        }

        p {

          font-size: 19px;
          padding: 20px 0;
        }

        button {
          width: 170px;
          height: 44px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 30px;
          width: 330px;
        }
      }
    }
  }
}

@media (max-width: 412px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 130px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 50px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      width: 90px;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 35px;
          line-height: 39px;
        }

        p {

          font-size: 23px;
          padding: 20px 0;
        }

        button {
          width: 170px;
          height: 44px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 30px;
          width: 330px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 110px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 45px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      width: 70px;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 34px;
          line-height: 39px;
        }

        p {

          font-size: 22px;
          padding: 20px 0;
        }

        button {
          width: 170px;
          height: 44px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 30px;
          width: 310px;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 110px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 45px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      width: 70px;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 33px;
          line-height: 39px;
        }

        p {
          line-height: 23px;
          font-size: 22px;
          padding: 20px 0;
        }

        button {
          width: 170px;
          height: 44px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 30px;
          width: 310px;
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 110px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 45px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      width: 70px;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 33px;
          line-height: 39px;
        }

        p {
          line-height: 23px;
          font-size: 22px;
          padding: 20px 0;
        }

        button {
          width: 170px;
          height: 44px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 30px;
          width: 310px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #hero {
    padding: 30px 0;

    .book4 {
      position: absolute;
      right: 30px;
      width: 110px;
    }

    .book3 {
      position: absolute;
      bottom: -330px;
      width: 45px;
    }

    .book1 {
      position: absolute;
      right: 0;
      width: 50px;
    }

    .book2 {
      width: 70px;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &--title {
        text-align: center;

        h1 {
          font-size: 28px;
          line-height: 32px;
        }

        p {
          line-height: 20px;
          font-size: 18px;
          padding: 15px 0;
        }

        button {
          height: 38px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &--img {
        padding: 20px 0;

        img {
          margin-left: 0;
          width: 300px;
        }
      }
    }
  }
}





