#leave {
  .img2 {
    position: relative;
    top: -448px;
  }

  .img1 {
    position: relative;
    left: 1206px;
    top: -270px;
  }

  .container {
    .leave {
      padding-top: 200px;
      position: relative;

      &--leave-block {
        height: 550px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(7px);
        border-radius: 10px;
        margin: 0 0 200px 0;
        display: flex;
        align-items: center;

        justify-content: space-around;

        &__leave-text {
          h1 {
            font-weight: 600;
            font-size: 40px;
            color: #FFFFFF;
          }

          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin: 30px 0 30px 0;
          }

          &--btn {
            display: flex;
            align-items: center;
            gap: 5px;

            &__btn-one {
              button {
                background: #FFFFFF;
                border-radius: 10px;
                padding: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #595FEB;
              }
            }

            &__btn-two {
              button {
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid #FFFFFF;
                backdrop-filter: blur(7px);
                border-radius: 10px;
                padding: 10px 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  #leave .container .leave--leave-block__leave-text {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  #leave {
    .container {
      .leave {
        &--leave-block {
          flex-direction: column;
          height: 806px;

          &__leave-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              text-align: center;
            }

            &--btn {
              flex-direction: column;

              &__btn-two {
                button {
                  padding: 10px 52px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {

}

@media (max-width: 450px) {

}

@media (max-width: 400px) {

}

@media (max-width: 380px) {

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {
  #leave .container .leave--leave-block__leave-text h1 {
    font-size: 29px;
  }
}