
#reviews {
  padding: 150px 0;

  .reviews {

    &--block {
      padding: 30px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(12px);
      border-radius: 10px;

      p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }

      &__hr {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
        }

        hr {
          border: 1px solid white;
          width: 45%;
        }
      }
    }
  }
}

.slick-prev, .slick-next {
  z-index: 20;
}

.slick-prev:before {
  position: absolute;
  left: 150px;
  padding: 15px;
  top: -20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(100px);
}

.slick-next:before {
  position: absolute;
  right: 150px;
  padding: 15px;
  top: -20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(100px);
}
.slick-slide{
  margin: 0 30px;
}