#leaveReview {
  position: relative;

  .leaveReview {
    padding: 10px 0 260px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: start;

    &--img1 {
      position: absolute;
      left: 0;
      width: 7%;
    }

    &--img2 {
      position: absolute;
      bottom: 150px;
      left: 30%;
      width: 15%;
    }

    &--title {
      width: 335px;

      h1 {
        font-weight: 600;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 30px;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        color: #ffffff;
      }
    }

    &--addWorlds {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(12px);
      border-radius: 10px;
      padding: 20px;

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 10px;
      }

      button {
        background: #FFFFFF;
        border-radius: 10px;
        width: 495px;
        padding: 10px 0;
        margin-top: 20px;
        color: darkblue;
      }

      &__name {
        display: flex;
        flex-direction: column;
        align-items: start;

        input {
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          width: 495px;
          height: 50px;
          padding: 0 10px;
          background: transparent;
          margin-bottom: 20px;
          color: #FFFFFF;
        }

        textarea {
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          padding: 0 10px;
          background: transparent;
          width: 495px;
          height: 150px;
          padding-top: 12px;
          color: #FFFFFF;
        }

        input::placeholder {
          color: rgba(255, 255, 255, 0.41);
          font-size: 14px;
        }

        textarea::placeholder {
          color: rgba(255, 255, 255, 0.41);
          font-size: 14px;
        }
      }
    }
  }
}




@media (max-width:1024px) {
  #leaveReview {
    .leaveReview {
      &--addWorlds {
        &__name {
          input {
            width: 470px;

          }

          textarea {
            width: 470px;
          }
        }

        button {
          width: 470px;
        }
      }
    }
  }
}
@media (max-width:992px) {
  #leaveReview {
    .leaveReview {

      &--title {
        h1 {
          font-size: 33px;
        }
      }

      &--addWorlds {
        &__name {
          input {
            width: 420px;

          }

          textarea {
            width: 420px;
          }
        }

        button {
          width: 420px;
        }
      }
    }
  }
}
@media (max-width:768px) {
  #leaveReview {
    .leaveReview {
      flex-direction: column;
      align-items: center;
      &--title {
        width: 100%;
        padding-bottom: 80px;
        h1 {
          font-size: 33px;
        }
      }

    &--addWorlds {
      &__name {
        input {
          width: 420px;

        }

        textarea {
          width: 420px;
        }
      }

      button {
        width: 420px;
      }
    }
    }
  }
}
@media (max-width:576px) {
  #leaveReview {
    .leaveReview {
      flex-direction: column;
      align-items: center;
      &--title {
        width: 100%;
        padding-bottom: 80px;
        h1 {
          font-size: 30px;
        }
        p{
          font-size: 18px;
        }
      }

      &--addWorlds {
        &__name {
          input {
            width: 420px;

          }

          textarea {
            width: 420px;
          }
        }

        button {
          width: 420px;
        }
      }
    }
  }
}
@media (max-width:451px) {
  #leaveReview {
    .leaveReview {
      flex-direction: column;
      align-items: center;
      &--title {
        width: 100%;
        padding-bottom: 80px;
        h1 {
          font-size: 30px;
        }
        p{
          font-size: 18px;
        }
      }

      &--addWorlds {
        &__name {
          input {
            width: 360px;
          }

          textarea {
            width: 360px;
          }
        }

        button {
          width: 360px;
        }
      }
    }
  }
}
@media (max-width: 415px) {
  #leaveReview .leaveReview--addWorlds {
    width: 100%;
  }
  #leaveReview .leaveReview--addWorlds__name input {
    width: 330px;
  }
  #leaveReview .leaveReview--addWorlds__name textarea {
    width: 330px;
  }
  #leaveReview .leaveReview--addWorlds button {
    width: 330px;
  }

}
@media (max-width: 390px) {
  #leaveReview .leaveReview--addWorlds {
    width: 100%;
  }
  #leaveReview .leaveReview--addWorlds__name input {
    width: 310px;
  }
  #leaveReview .leaveReview--addWorlds__name textarea {
    width: 310px;
  }
  #leaveReview .leaveReview--addWorlds button {
    width: 310px;
  }

}
@media (max-width: 380px) {
  #leaveReview .leaveReview--addWorlds {
    width: 100%;
  }
  #leaveReview .leaveReview--addWorlds__name input {
    width: 300px;
  }
  #leaveReview .leaveReview--addWorlds__name textarea {
    width: 300px;
  }
  #leaveReview .leaveReview--addWorlds button {
    width: 300px;
  }

}
@media (max-width:375px) {
  #leaveReview {
    .leaveReview {
      flex-direction: column;
      align-items: center;
      &--title {
        width: 100%;
        padding-bottom: 80px;
        h1 {
          font-size: 26px;
        }
        p{
          font-size: 16px;
        }
      }

      &--addWorlds {
        &__name {
          input {
            width: 293px;

          }

          textarea {
            width: 293px;
          }
        }

        button {
          width: 293px;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  #leaveReview .leaveReview--addWorlds {
    width: 100%;
  }
  #leaveReview .leaveReview--addWorlds__name input {
    width: 284px;
  }
  #leaveReview .leaveReview--addWorlds__name textarea {
    width: 284px;
  }
  #leaveReview .leaveReview--addWorlds button {
    width: 284px;
  }

}
@media (max-width:320px) {
  #leaveReview {
    .leaveReview {
      flex-direction: column;
      align-items: center;
      &--title {
        width: 100%;
        padding-bottom: 80px;
        h1 {
          font-size: 26px;
        }
        p{
          font-size: 16px;
        }
      }

      &--addWorlds {
        padding: 14px;
        &__name {
          input {
            width: 260px;

          }

          textarea {
            width: 260px;
          }
        }

        button {
          width: 260px;
        }
      }
    }
  }
}