#self{
  .self{
    padding: 250px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.5s all;
    img{
      width: 150px;
    }
    h1{
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 27.8281px;
      line-height: 34px;
      color: #FFFFFF;
    }
    p{
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      padding-top: 30px;
    }
  }
}