#learn {
  padding: 150px 0;
  .learn {
    &--text {
      p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 100px;
        color: #FFFFFF;
      }

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }
    }

    &--block {
      display: flex;
      justify-content: center;
      margin: 100px 0;

      &__colon:hover {
        transform: scale(1.1);
      }

      &__colon {
        background: rgba(255, 255, 255, 0.2);
        border: 1.26419px solid #FFFFFF;
        backdrop-filter: blur(3.79256px);
        border-radius: 13px;
        width: 240px;
        height: 511px;
        padding: 20px;
        margin: 0 50px;
        transition: 0.5s all;

        h3 {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
        }

        p {
          padding: 7px 0;
          display: flex;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
        }

        label {
          padding: 8px 0;
          display: flex;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
          cursor: pointer;
        }

        &--icons {
          padding-right: 5px;
          font-size: 20px;
        }

        &--h2 {
          padding-top: 208px;
        }

        h1 {
          display: flex;
          align-items: start;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 29px;
          color: #FFFFFF;

          b {
            font-size: 32px;
            padding: 0 5px;
          }
        }

        button {
          margin-top: 18px;
          padding: 5px 24px;
          border: 1.26419px solid #FFFFFF;
          border-radius: 12.6419px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 25.2838px;
          line-height: 31px;
          color: #FFFFFF;
        }
      }
    }

    &--var {
      padding: 100px 0;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }

      p {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 50px;
        color: #FFFFFF;
      }

      &__icons {
        margin: 0 8px 0 50px;
      }
    }
    &--var1{
      h1{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      p{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }
    }
  }
}

//#learnMore{
//  padding: 140px 0;
//  .learnMore{
//    &--p{
//      font-weight: 400;
//      font-size: 16px;
//      line-height: 20px;
//      color: #FFFFFF;
//    }
//    &--titleh1{
//      font-weight: 600;
//      font-size: 40px;
//      line-height: 49px;
//      color: #FFFFFF;
//      margin: 20px 0 35px 0;
//    }
//    &--titleP{
//      font-style: normal;
//      font-weight: 400;
//      font-size: 24px;
//      line-height: 29px;
//      color: #FFFFFF;
//    }
//    &--cards{
//      margin: 60px 0;
//      display: flex;
//      justify-content: space-evenly;
//      &__card1{
//        background: rgba(255, 255, 255, 0.2);
//        border: 1.2px solid #FFFFFF;
//        backdrop-filter: blur(3.8px);
//        border-radius: 13px;
//        padding: 25px;
//        h1{
//          font-weight: 500;
//          font-size: 30.3405px;
//          line-height: 37px;
//          color: #FFFFFF;
//          margin: 0 0 10px 0;
//        }
//        &--inputMonth{
//          label{
//            font-weight: 300;
//            font-size: 17.6986px;
//            line-height: 22px;
//            color: #FFFFFF;
//            margin-left: 5px;
//          }
//        }
//        &--inputYear{
//          margin: 10px 0 30px 0;
//          label{
//            font-weight: 300;
//            font-size: 17.6986px;
//            line-height: 22px;
//            color: #FFFFFF;
//            margin-left: 5px;
//          }
//        }
//        &--icons{
//          display: flex;
//          margin: 8px 0;
//          p{
//            font-weight: 300;
//            font-size: 17.6986px;
//            line-height: 22px;
//            color: #FFFFFF;
//            width: 200px;
//            margin-left: 5px;
//          }
//          h2{
//            color: #FFFFFF;
//          }
//
//        }
//        &--prace{
//          font-weight: 400;
//          font-size: 30.3405px;
//          line-height: 37px;
//          color: #FFFFFF;
//          margin: 250px 0 24px 10px ;
//        }
//        &--prace2{
//          font-weight: 400;
//          font-size: 30.3405px;
//          line-height: 37px;
//          color: #FFFFFF;
//          margin: 20px 0 24px 10px ;
//        }
//        &--btnFollow{
//          font-weight: 400;
//          font-size: 25.2838px;
//          line-height: 31px;
//          color: #FFFFFF;
//          padding: 8px 38px;
//          gap: 10px;
//          background: rgba(255, 255, 255, 0.1);
//          border: 1px solid #FFFFFF;
//          border-radius: 10px;
//        }
//      }
//    }
//    &--info{
//      margin: 150px 0;
//      p{
//        font-weight: 300;
//        font-size: 24px;
//        line-height: 29px;
//        color: #FFFFFF;
//      }
//      &__fraces{
//        margin: 28px;
//        &--icon{
//          display: flex;
//          margin: 20px 0;
//          h2{
//            color: #ffffff;
//          }
//          p{
//            margin-left: 10px;
//          }
//        }
//      }
//    }
//    &--plusPackag{
//      margin: 70px 0;
//      h3{
//        margin: 20px 0;
//        font-weight: 500;
//        font-size: 36px;
//        line-height: 54px;
//        color: #FFFFFF;
//      }
//      p{
//        font-weight: 300;
//        font-size: 24px;
//        line-height: 29px;
//        color: #FFFFFF;
//      }
//    }
//  }
//}
